<footer>
	<div class="container">
		<div class="footer-wrapper clearfix">
			<div class="footer-link-container">
				<a class="footer-link" href="#">
					<img class="footer-logo-img" src="images/logo-black.png" alt="logo">
				</a>
				<a class="footer-link" href="#">Features</a>
				<a class="footer-link" href="#">Blog</a>
				<a class="footer-link" href="#">Community</a>
				<a class="footer-link" href="#">Log In</a>
			</div>
			<div class="footer-copyright">© 2016 knowledge Copyrights</div>
		</div>
	</div>
	
</footer>