<header class="header-image">
	<div class="container">
		<div class="header-wrapper">
			<div class="clearfix">
				<div class="col-sm-3 col-xs-8">
					<div class="header-image__logo-wrapper">
						<a class="documentation-link-logo" href="#">
							<img class="logo-img" src="images/logo.png" alt="logo">
						</a>
					</div>
				</div>
				<div class="col-sm-9 top-menu">
					<nav class="header-nav">
						<a class="nav-item" href="#">Features</a>
						<a class="nav-item" href="#">Blog</a>
						<a class="nav-item" href="#">Community</a>
						<a class="nav-item" href="#">Log In</a>
						<a class="nav-item" href="#">Sign Up</a>
					</nav>
				</div>
			</div>
			<div class="header-description">
				<h1 class="h1_style">Knowledgebase</h1>
				<p>
					Sed eget orci eleifend enim mattis suscipit. Suspendisse potenti non ipsum.
				</p>
				<div class="header-search">
					<input class="header-search__input" type="text" placeholder="Search Something...">
				</div>
				<a href="#" class="link__github">
					GitHub Project
				</a>
			</div>
		</div>
		
		
	</div>
</header>