footer
{
 	background-color: #f9f9f9;
 	border-top: 1px solid #eeeeee;
 	padding-top: 31px;
 	padding-bottom: 28px;
}
.footer-link-container
{
	padding-top: 5px;
	float: left;
}
.footer-link
{
	font-family: $robotoMedium;
	font-size: 16px;
	color: #5e6977;
	margin-right: 25px;
	letter-spacing: -0.2px;
	vertical-align: top;
	display: inline-block;
	padding-top: 5px;
	margin-right: 40px;
	&:first-child
	{
		display: inline-block;
		padding-top: 0;
		margin-left: 14px;
		width: 151px;
		height: 31px;
		.footer-logo-img
		{
			width: 100%;
			height: 100%;
		}
	}
}
.footer-copyright
{
	float: right;
	font-family: $robotoRegular;
	font-size: 16px;
	color: #5e6977;
	margin-right: 14px;
	margin-top: 10px;
}

@media (max-width: 1023px)
{
	.footer-link-container
	{
		float: none;
		text-align: center;
	}
	.footer-copyright 
	{
		float: none;
		text-align: center;
		margin-right: 0;
	}
}
@media (max-width: 630px)
{
	.footer-link
	{
		display: block;
		margin-left: 0;
		margin-right: 0;
		&:first-child
		{
			margin-left: 0;
		}
	}

}